* {
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    font-family: Inter, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.app {
    width: 400px;
    text-align: center;
}

header {
    background-color: #6943ff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2.5em;
}

header h1 {
    font-size: 1.75rem;
    font-weight: 800;
    margin: 0;
}

#text-input {
    font-weight: bold;
    font-size: 3.625rem;
    background-color: inherit;
    color: inherit;
    border: 2px solid #b295ff;
    border-radius: 10px;
    max-width: 2.1em;

    text-align: center;
}

button {
    display: block;

    padding: 0.8em 2em;
    border-radius: 10px;

    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: white;
}

button:active {
    transform: scale(0.9);
}

/* MAIN */

main {
    height: 30em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
}

main div {
    background-color: white;
    border-bottom-left-radius: 5px;
}

main h2 {
    font-size: 1.25rem;
    color: #5a537b;
    font-weight: 600;
}
